* {
    margin: 0;
    border: 0;
}

html {
    display: grid;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 4vmax;
    background-color: yellow;
    border-radius: 10px;
    width: fit-content;
    padding: 0.2em;
    animation-name: fadeInOut;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}