* {
    margin: 0;
    border: 0;
}

div {
    text-align: center;
    align-items: center;
    justify-items: center;
    margin: 10vmax 1vmax
}

p {
    display: inline-block;
    padding: 10px;
    font-size: 5vmax;
    background-color: yellow;
    border-radius: 10px;
    width: fit-content;
    animation-name: fadeIn;
    animation-duration: 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}